.card{
  border: 0.5px solid rgb(176, 170, 170);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow:5px 5px 5px rgb(176, 170, 170);
  border-radius: 10px;
  color: rgb(85, 71, 71);
  margin: 10px;
  padding:10px;
  padding-top: 40px;
  height: 250px;
  width: 300px;
  display: inline-block;
  text-align: center
}

.card-image{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid rgb(93, 59, 59);
}