body{
  background-color: hsl(0, 67%, 66%);
  text-align: center;
  justify-content: center;
}


.to-do-list{

  margin-top: 120px;
}

h2{
  font-size: 8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.to-do-input{
  height: 40px;
  width: 400px;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.5rem;
}

.add-todo{
  height: 60px;
  width: 80px;
  margin: 20px;
  background-color: hsl(100, 44%, 45%);
  border-radius: 15px;
  border: none;
}
ol{
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  background-color: bisque;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 0.5px black;
}
.taskname{
  padding: 10px;
  font-size: 2rem;
  list-style: none;
  margin: 10px;
}
.deletetask{
  background-color: hsl(0, 75%, 52%);
  font-size: 20px;
  border-radius: 6px;
  height: 50px;
  width: 140px;
  margin-left: 10px;
}

.moveupbutton{
  background-color: rgb(122, 86, 184);
  font-size: 20px;
  border-radius: 6px;
  height: 50px;
  width: 140px;
  margin-left: 10px;
}

.movedownbutton{
  background-color: rgb(122, 86, 184);
  font-size: 20px;
  border-radius: 6px;
  height: 50px;
  width: 140px;
  margin-left: 10px;
}